<?xml version="1.0" ?>
<robot name="hospital_robot">
  <webots>
    <device reference="lidar" type="Lidar">
      <ros>
        <enabled>true</enabled>
        <updateRate>10</updateRate>
        <topicName>/scan</topicName>
        <alwaysOn>true</alwaysOn>
        <frameName>lidar_link</frameName>
      </ros>
    </device>
    <plugin type="hospital_delivery.webots_driver.HospitalRobotDriver">
      <wheelRadius>0.05</wheelRadius>
      <halfWheelSeparation>0.16</halfWheelSeparation>
      <maxWheelSpeed>12.0</maxWheelSpeed>
      <commandTimeout>0.75</commandTimeout>
    </plugin>
  </webots>
</robot>
